header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  font-size: 24px;
}

#scores-link a {
  text-decoration: none;
  color: blue;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 80vw;
  height: 40vw;
  align-items: center;
  margin: 0 auto;
}

main h1 {
  font-size: 30px;
  padding-bottom: 30px;
}

.options-container {
  display: flex;
  flex-direction: column;
}

.option-button {
  margin: 5px;
}

.hide {
  display: none;
}

#scores-link {
  text-decoration: none;
  color: blue;
}

.btn {
  background-color: blue;
  color: white;
}

.btn:hover {
  background-color: blueviolet;
}

main form {
  padding: 20px;
}
